.body {
    font-family:'Roboto';
    text-align: center;
    color: #d02727;

}

.link {
color: blueviolet;

}

.address {
color: greenyellow;

}

.kontakt {
background-color: antiquewhite;

}

.buttons {


}